.search {
  padding: 30px 0 40px;
  &__inner {
    flex-direction: column;
    gap: 24px;
  }
  .input {
    &--select {
      .input {
        &__selected {
          font-size: 16px;
          padding: 0 24px 0 0;
          font-size: 16px;
          color: $white;
          font-weight: 500;
          font-family: $font-roboto;
          small {
            font-size: 17px;
            color: #c5c5d2;
          }
          &-container {
            &:hover {
              opacity: 0.7;
            }
          }
        }
        &__dropdown {
          top: calc(100% + 10px);
        }
      }
    }
  }
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  background: $green-2;
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &--border {
    position: relative;
    &::after {
      content: "";
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $white;
      pointer-events: none;
      border-radius: inherit;
    }
  }
}
