.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  transition: 0.2s ease-out;
  transition-property: opacity, transform, padding;
  background: $black;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    z-index: 2;
    justify-content: space-between;
    .burger {
      display: none;
    }
  }
  &__logo {
    font-size: 12px;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include transition;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &:hover {
      opacity: 0.7;
      transform: scale(0.95);
    }
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__group {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    //font
    color: $white;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    transition: 0.3s ease-out;
    &:hover {
      color: $primary;
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
  }
  &--search {
    border-bottom: 1px solid #3c4043;
    .header {
      &__inner {
        flex-direction: column;
        gap: 15px;
      }
    }
  }
  &__search {
    width: 100%;
    &-container {
      position: relative;
      padding: 0 0 0 130px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .input {
        &--ico {
          position: absolute;
          left: 130px;
          bottom: calc(100% + 15px);
          width: 50%;
          max-width: 500px;
          z-index: 2;
        }
      }
    }
    &-buttons {
      display: flex;
      gap: 6px;
      .button {
        padding: 0.5em 1em;
      }
    }
    &-group {
      display: flex;
      gap: 34px;
    }
    &-box {
      display: flex;
      align-items: center;
      hr {
        width: 1px;
        background: #3c4043;
        height: 20px;
        margin: 0 10px 0 5px;
      }
      .button {
        &--text {
          font-size: 14px;
          font-family: $font-secondary;
        }
      }
    }
  }
  &.sticky {
    position: fixed;
    padding: 15px 0;
    animation: 0.3s sticky ease-in;
    transition-duration: 0.5s;
    .header {
      &__search {
        display: none;
      }
    }
  }
  &--sm {
    .header {
      &__inner {
        .burger {
          display: block;
        }
      }
    }
  }
}
.nav {
  flex-grow: 1;
  &__inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  &__group {
    display: flex;
    gap: 35px;
    align-items: center;
  }
  &__link {
    font-size: 16px;
    color: $white-14;
    font-weight: 500;
    padding: 0 5px;
    position: relative;
    @include transition;
    transition: 0.3s ease;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: $white;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: inherit;
      transform: scale(0);
      opacity: 0;
    }
    &:hover {
      color: $white;
      &::after {
        width: 100%;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  width: 20px;
  height: 12px;
  color: $white-13;
  background: transparent;
  transition: 0.2s ease;

  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: all 0.2s ease;
    border-radius: 10px;
  }
  &::before {
    content: "";
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    bottom: 0;
    transform: translateX(-50%);
  }
  &:hover {
    opacity: 0.8;
  }
  &.active {
    color: $primary;
    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
  }
}

@mixin header-1025 {
  .header {
    &__search {
      &-group {
        display: none;
      }
      &-container {
        .input {
          &--ico {
            max-width: 375px;
          }
        }
      }
    }
    &--search {
      padding-bottom: 14px;
    }
  }
  // .header {
  //   padding: 25px 0;

  //   &__inner {
  //     justify-content: space-between;

  //     &-logo {
  //       padding-right: 20px;
  //       border-right: 2px solid rgba($white, 0.27);
  //       border: 0;
  //     }
  //     .burger {
  //       display: block;
  //       z-index: 2;
  //     }
  //   }
  // }
  // .nav {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba($black, 0.4);
  //   backdrop-filter: blur(4px);
  //   z-index: 0;
  //   transform: translate(100%);
  //   opacity: 0;
  //   pointer-events: none;
  //   transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;

  //   &__inner {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 35%;
  //     min-width: 280px;
  //     height: 100%;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     justify-content: flex-start;
  //     box-sizing: border-box;
  //     background: $white;
  //     box-shadow: 0px 4px 24px -1px rgba($black, 0.2);
  //     padding: 50px 25px;
  //     transform: translate(-100%);
  //     opacity: 0;
  //     transition: 0.15s ease-in-out 0s;

  //     &-group {
  //       flex-direction: column;
  //       align-items: flex-start;
  //       padding: 25px 0;
  //       gap: 8px;
  //       color: $black;
  //       border-top: 1px solid $white;
  //       width: 100%;

  //       &:first-child {
  //         border: 0;
  //       }
  //     }
  //     &-link {
  //       color: $black;

  //       &:after {
  //         left: 0;
  //         top: 50%;
  //         width: 2px;
  //         height: 80%;
  //         transform: translateY(-50%);
  //       }

  //       &:hover {
  //         &:after {
  //           width: 2px;
  //           height: 100%;
  //         }
  //       }
  //     }
  //   }

  //   &.active {
  //     pointer-events: all;
  //     transform: translate(0);
  //     opacity: 1;
  //     transition: opacity 0.3s ease-in-out;

  //     .nav__inner {
  //       opacity: 1;
  //       transition: 0.3s ease-in-out 0.05s;
  //       transform: translate(0);
  //     }
  //   }
  // }
}
@mixin header-580 {
  .header {
    &__search {
      &-container {
        flex-direction: column;
        padding-left: unset;
        gap: 10px;
        align-items: flex-start;
        .input {
          position: relative;
          transform: unset;
          bottom: unset;
          left: unset;
          max-width: unset;
          width: 100%;
        }
      }
    }
  }
}
